SHELL=/bin/bash

### acquire scenes from ESA
0 7 * * SAT $HOME/proj/buhayra_demo/buhayra/jobs/1_get_scenes_demo.sh >> $HOME/1_getscenes_demo.log 2>&1

### process acquired scenes
0 4,16 * * * $HOME/proj/buhayra_demo/buhayra/jobs/2_sar2watermask_demo.sh >> $HOME/2_sar2watermask_demo.log 2>&1

### threshold and insert
46 15 * * SUN,TUE,THU $HOME/proj/buhayra_demo/buhayra/jobs/3_thresh+insert_demo.sh >> $HOME/3_thresh+insert_demo.log 2>&1

### perform maintenance
0 10 * * FRI $HOME/proj/buhayra_demo/buhayra/jobs/4_rm_finished.sh >> $HOME/4_rm_finished.log 2>&1
