
SHELL=/bin/bash
MAILTO="martinsd@uni-potsdam.de"

### acquire scenes from ESA

0 20 * * 1 /users/stud09/martinsd/local/miniconda2/envs/snappy/bin/python2 /users/stud09/martinsd/proj/buhayra "getscenes"
0 20 * * 5 /users/stud09/martinsd/local/miniconda2/envs/snappy/bin/python2 /users/stud09/martinsd/proj/buhayra "getscenes"

### process acquired scenes
0 2 * * * qsub /users/stud09/martinsd/proj/buhayra/buhayra/jobs/2_sar2watermask.job

### apply threshold scenes from sentinel 1
0 14 * * * qsub /users/stud09/martinsd/proj/buhayra/buhayra/jobs/3_threshold.job

### polygonize and insert into mongodb as json in webserver
36 15 * * 1 /users/stud09/martinsd/proj/buhayra/buhayra/jobs/4_insert_polys_mongo.sh
0 23 * * 3 /users/stud09/martinsd/proj/buhayra/buhayra/jobs/4_insert_polys_mongo.sh
0 23 * * 5 /users/stud09/martinsd/proj/buhayra/buhayra/jobs/4_insert_polys_mongo.sh
0 23 * * 7 /users/stud09/martinsd/proj/buhayra/buhayra/jobs/4_insert_polys_mongo.sh

